<!-- Vendor JS (jQuery and Bootstrap) -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>



<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<!-- Custom JS -->
<script src="/static/js/custom.js"></script>

</body>
</html>
