<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
   <!-- DataTables CSS -->
   <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.min.css">
   <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <!-- DataTables JS -->
   <script src="https://cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>
   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="sidebar">
    <h2>Menu</h2>
    <ul>
      <li><a href="#Home" id="home-link">Home</a></li>
      <li><a href="#assets" id="assets-link">Assets Invetory</a></li>
      <li><a href="#Context" id="profile-link">Context Documents</a></li>
      <li><a href="#profile" id="profile-link">My Profile</a></li>
      <li><a href="#logout" id="logout-link">Logout</a></li>
    </ul>
  </div>

  <div class="main-content">
    <h1>Welcome to the Dashboard</h1>
    <div id="content">
      <p>Select a link from the sidebar to view the content.</p>
    </div>
  </div>

  <script src="js/script.js"></script>
</body>
</html>
