<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Code Receiver</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="content-container">
        <img src="images/broken.gif" alt="Illustration" class="center-image">
        <div class="status-code-container">
            <!-- Dynamic status code will be injected here -->
            <h2 class="status-code">Status Code Here</h2>
        </div>
    </div>
</body>
</html>
